In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df_left = DataFrame({'Key':['X','Y','Z','X','Y'], 'data':range(5)})

In [3]:
df_left

  Key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [6]:
df_right = DataFrame({'group data':[10,20]},index=['X','Y'])

In [7]:
df_right

   group data
X          10
Y          20

In [9]:
pd.merge(df_left,df_right,left_on='Key',right_index=True)

  Key  data  group data
0   X     0          10
3   X     3          10
1   Y     1          20
4   Y     4          20

Using join

In [10]:
df_left

  Key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [11]:
df_right

   group data
X          10
Y          20

In [12]:
df1 = df_left.join(df_right,how = 'inner')
df1

Empty DataFrame
Columns: [Key, data, group data]
Index: []

In [13]:
df2 = df_left.join(df_right,how = 'outer')
df2

   Key  data  group data
0    X   0.0         NaN
1    Y   1.0         NaN
2    Z   2.0         NaN
3    X   3.0         NaN
4    Y   4.0         NaN
X  NaN   NaN        10.0
Y  NaN   NaN        20.0